// Typography
$font-family-base: inter, system-ui, avenir, helvetica, arial, sans-serif;
$font-size-base: 16px;
$line-height-base: 1.5;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
